@font-face
{
    font-family: "crystal-regular";
    src: url("crystal_regular.ttf");
}

body
{
    background-color: black;
}

h1
{
    color: #36a8ff; /* blue sky */
    text-align: center;
    font-family: "crystal-regular";
    font-size: 120px;
}
